
.wrap {
    padding-top:        50px;
}

h1, h2, h3, h4 {
    margin:             25px 0;
}

.jumbotron {
    padding:            1em;
    margin-bottom:      0;
}

.page-header {
    margin-top:         1em;
    margin-bottom:      0;
}

#sidebar_block {
    padding:            1em;
    background-color:   #eee;
}

.top-gutter {
    margin-top:         1em;
}

.bottom-gutter {
    margin-bottom:      1em;
}
